<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsforyou">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/newsicon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newsicon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsForYou">
        <activity android:name=".Activities.NewsActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>